*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    width: auto;
    height: 110vh;
    background-image: url(./download.webp);
    background-position: center;
}
nav{
    width: 95%;
}
.MENYU-header{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;  
    gap: 500px;
}
.sharch{
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    a{ 
        color: black;
    }
    a:hover{
        color: red;
    }
}
.M1{
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px
}
.M2{
    width: 153px;
    height: 33px;
    display: flex;
    margin-top: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: none;
    list-style: none;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: red;
    }
}
.MENYU{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 70px;
    }
    li{
        display: flex;
        list-style: none;
        text-decoration: none;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
                color: red;
            
        }
    }
}   
.sentence{
    margin-left: 200px;
    margin-top: 80px;
}
.red{
    color: red;
    h4{
        font-size: 28px;
    }
}
.big{
    display: inline-block;
    color: black;
    h1{
        
        font-size: 50px;
    }
}
.small{
   margin-top: 60px;
   width: 500px;
    color:dimgray;
}
.shop{
    width: 107px;
    height: 18px;
    a{
        text-decoration: none;
        color: black;
    }
    a:hover{
        color: red;
    }
}
.contayner{
    width: 98%;
    height: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
    .cards{
        width: 227px;
        img{
            width: 83px;
            height: 83px;
            margin: 0px 73px;

        }

        .card-m1{
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 14px;
            padding: 20px 0px 0px;

            h3{
                width: 114px;
                height: 20.8px;
                font-size: 18px;
                
            }
            p{
                width: 77px;
                height: 19px;
                font-size: 16px;
                color: gray ;
            }
        }
    }
    
}
.line{
    width: 100%;
    height: 0.8px;
    color: #E5E5E5;
    background-color: #E5E5E5;

}
.body-m1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 50px;
    .body-m2{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 60px;
        .dark{
            width: 480px;
            height: 684px;

        }
        .peace{
            .m10-1{
                .m1-1{
                    font-size: 24px;
                    margin: 0px 0px 26px;
                    color: red;
                    
                }
                .m1-2{
                    width:816px;                   
                    font-size: 20px;
                }
                .m1-3{
                    font-size: 18px;
                    margin: 27px 0px 0px;
                    text-decoration: none;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                    a:hover{
                        color: red;
                    }
                }
            }
            .m10-2{
                width: 810px;
                height: 450px;
            }
        }
    }
}
.m20-1{
    display: flex;
    justify-content: center;
    align-items: center;
        margin-top: 80px;

}
.m20-2{
    display: flex;
    justify-content: center;
    align-items: center;    
        color: gray;

        margin-top: 15px;
}
.menyu-2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 15px;
    ul{display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        text-decoration: none;
        gap: 80px;
    }
    li{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{

            color: red;
        }
    }
}
.contayner-m30{
    width: 100%;
    height: 1045px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;    
    
    .cards-m30{
        width: 300px;
        display: flex;
        img{display: flex;
            justify-content: center;
            align-items: center;
            width: 317px;
            height: 317px;
            margin: 0px 73px;

        }

        .card-m30{
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 14px;
            padding: 20px 0px 0px;

            h3{
                width: 244px;
                height: 20px;
                font-size: 18px;
                
            }
            p{
                width: 277px;
                height: 24px;
                font-size: 16px;
                color: red ;
            }
        }
    }
    
}